:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

::selection {
  color: #06130f;
  background: #82efa7;
}

#root {
  min-height: 100vh;
}
